# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions & build artifacts
build/
dist/
*.egg-info/
*.egg
*.exe
*.obj
*.pdb
*.ilk
*.pyd

# Environments
venv/
env/
.env

# Testing & Coverage
.pytest_cache/
.coverage
*.log
*.txt